<div class="container login">
  <form>
    <h2 class="header">Login</h2>
    <label for="email" class="sr-only">Email address</label>
    <input
      type="text"
      #username
      id="email"
      class="form-control field"
      placeholder="Email"
      required
      autofocus
      value="user"
    />
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      #password
      id="password"
      class="form-control field"
      placeholder="Password"
      required
      value="pass"
    />
    <button
      class="btn btn-lg btn-primary btn-block field"
      type="submit"
      (click)="login($event, username.value, password.value)"
    >
      Login
    </button>
  </form>
  <p>{{ error }}</p>
</div>
