<div class="container">
  <h2>Todo lists: {{ items.length }}</h2>
  <div class="section">
    <h2>Add todo list</h2>
    <form>
      <input #name type="text" placeholder="Name" class="form-control" />
      <button type="submit" (click)="add($event, name.value)" class="btn btn-success add">Add</button>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr *ngFor="let item of items">
        <td>
          <h3>{{ item.name }}</h3>
        </td>
        <td>
          <button class="btn btn-primary" (click)="show(item)">Show</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(item)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
